@import 'responsive';

@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

body,
html,
.App {
  min-height: 100vh;
  height: 100%;
}

// Remove Firefox dotted outline while clicking on links
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

$gray: #8c99aa;
$dark: #515970;
$light: #f8f9fc;
$primary: #fc58a7;

.App {
  color: $gray;
  display: flex;
}

@import 'content';
@import 'sidebar';
@import 'transition';
@import 'list';
@import 'video';
@import 'dark';
