@import "responsive";
@import "vars";

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

body,
html,
.App {
  min-height: 100vh;
  height: 100%;
}
.App {
  width: 100%;
  overflow-x: hidden;
}
// Remove Firefox dotted outline while clicking on links
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.App {
  color: $dark;
  display: flex;
}

.genre-page {
  @include sm {
    height: 100vh;
    padding: 1rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  img {
    @include sm {
      height: 300px;
    }
    height: 400px;
    width: auto;
  }
  a {
    text-decoration: none;
    color: $primary;
  }
}

@import "content";
@import "header";
@import "sidebar";
@import "transition";
@import "list";
@import "video";
@import "dark";
@import "feed";
