.content {
  padding: 5rem 0rem;
  @include sm {
    // padding: 2rem;
    margin-bottom: 10rem;
  }
  @include md {
    padding: 5rem 5rem 5rem 10rem;
  }

  .header {
    font-size: 3rem;
    @include sm {
      margin-left: 1rem;
      margin-top: 0rem;
    }
  }
}
