$back: #0f111a;
$light-dark: #171a27;
html.dark {
  background-color: $back;

  .App {
    color: $gray;
  }

  .sidebar {
    .logo .drawer {
      &:hover {
        background-color: $light-dark;
      }
    }
    .menu {
      a {
        color: $gray;
        @include sm {
          background: $light-dark;
        }
        &.active {
          background-color: $light-dark;
          @include sm {
            background: linear-gradient(90deg, $primary, lighten($light-dark, 20%));
          }
        }

        &:hover {
          background: linear-gradient(90deg, $primary, lighten($light-dark, 20%));
          transform: scale(1.05);
          box-shadow: 0px 0px 20px rgba($primary, 0.1);
          color: $back;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
    @include sm {
      background: linear-gradient(rgba($back, 0), rgba($back, 1));
    }
  }

  .change-theme {
    .icon-theme {
      background-image: url("/sun.svg");
      background-color: $light-dark;
      &:hover {
        background-color: lighten($color: $light-dark, $amount: 5%);
      }
    }
  }

  .header {
    #search {
      background-color: $light-dark;
    }

    .toolbar {
      .search-box:focus-within {
        #search {
          background: $light-dark;
        }
      }
      #search {
        &:hover {
          background: lighten($light-dark, 5%);
        }
      }
    }
  }

  .list {
    .title {
      color: $gray;
    }
    .button {
      background-color: $light-dark;
      &:hover {
        background-color: $light-dark;
        background-color: lighten($color: $light-dark, $amount: 5%);
      }
    }
    .array .card {
      color: $dark;
      h1 {
        color: $gray;
      }
    }
  }

  .video {
    .video-container {
      .desc {
        background-color: $light-dark;
        color: $dark;
        h1 {
          color: $gray;
        }
        .widgets {
          .icons {
            a {
              color: $dark;
              &:hover {
                color: $primary;
              }
            }
          }
        }
        .genres {
          .genre-tag {
            text-decoration: none;
            background-color: lighten($light-dark, 4%);
            color: $dark;
          }
        }
      }
    }
  }

  .queue {
    .queueCard {
      &.current {
        h1 {
          color: $primary;
        }
      }
    }
  }

  .feed {
    .loading {
      color: $dark;
    }
    .feed-list .feed-card .post-desc {
      background-color: $light-dark;
    }
    .load-more {
      background-color: $light-dark;
      &:hover {
        background-color: $light-dark;
        background-color: lighten($color: $light-dark, $amount: 5%);
      }
    }
  }
}
