html {
  scroll-behavior: smooth;
}
.list {
  padding-top: 5rem;
  margin-bottom: 3rem;
  margin-right: 4rem;
  margin-left: 1rem;

  @include sm {
    margin: 0;
    margin-left: 1rem;
  }

  .list-header {
    margin-top: -3rem;
    margin-left: 1rem;
    z-index: 1;

    display: flex;

    @include sm {
      margin-left: 1rem;
    }

    .title {
      color: $dark;
      margin: 0;
    }

    .button {
      width: min-content;
      background-color: $light;
      display: flex;
      align-items: center;
      margin: 0 1rem;
      padding: 0.5rem;
      padding-right: 1rem;
      border-radius: 12px;
      transition: all 0.1s ease-in-out;
      height: 2rem;
      &:hover {
        cursor: pointer;
        background-color: $light-gray;
      }
      &:active {
        transform: scale(0.9);
      }
      svg {
        width: 18px;
        height: 18px;
        margin: 4px;
      }
    }
  }

  .scroll {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    height: auto;
    bottom: 13.5rem;
    &.right {
      float: right;
      right: -2rem;

      &.hidden {
        svg {
          display: none;
          transform: scale(0.5);
        }
      }
    }
    &.left {
      float: left;
      left: -2.5rem;
      &.hidden {
        svg {
          display: none;
          transform: scale(0.5);
        }
      }
    }
    svg {
      transition: all 0.25s ease;
      padding: 1rem 1.1rem;
      border-radius: 10rem;
      background-color: $primary;
      color: #fff;
      box-shadow: 0px 7px 15px rgba(darken($primary, 50%), 0.3);
      margin-top: 3px;
      &:hover {
        transform: scale(1.25);
      }
      &:active {
        transform: scale(1.1);
      }
    }
    @include sm {
      display: none;
    }
    @include md {
      bottom: calc((250px * 3 / 2) / 2 + 10px);
    }
  }

  .array {
    width: calc(100vw - 6rem - 17vw);
    @include sm {
      width: calc(100vw - 2rem);
    }
    @include md {
      width: calc(100vw - 15rem - 2vw);
    }
    transition: width 0.25s ease;

    margin-left: -1rem;
    padding: 0.5rem 1rem;

    @include sm {
      margin: 0;
      padding: 1rem;
      margin-left: -1rem;
    }

    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;

    display: grid;
    grid-gap: 2rem;
    grid-template-rows: minmax(150px, 1fr);

    @include sm {
      grid-gap: 0.5rem;
    }
    @include md {
      grid-gap: 0.5rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    .card {
      // display: inline-block;
      width: 300px;
      @include sm {
        width: 200px;
      }
      @include md {
        width: 250px;
      }
      flex-grow: 1;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      transition: all 0.25s ease-in-out;

      img {
        border-radius: 12px;
        transition: all 0.25s ease-in-out;
        // width: 30rem
        width: 100%;
        height: auto;
        background-color: lighten($color: $gray, $amount: 20%);
      }
      &:hover {
        cursor: pointer;
        img {
          transform: translateY(-10px) scale(1.05);
          box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.33);
        }
      }
      &:active {
        img {
          transform: translateY(0px) scale(1);
          box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.33);
        }
      }
      @include sm {
        &:hover {
          cursor: pointer;
          img {
            transform: none;
            box-shadow: none;
          }
        }
        &:active {
          img {
            transform: translateY(0px) scale(0.95);
          }
        }
      }

      .desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 0.5rem;

        .text {
          max-width: 250px;
          @include sm {
            max-width: 160px;
          }
          h1 {
            text-overflow: ellipsis;
            overflow-x: hidden;
            font-size: 1.2rem;
            margin-bottom: -0.5rem;
          }
          p {
            text-overflow: ellipsis;
            overflow-x: hidden;

            font-size: 0.8rem;
          }
        }

        .like {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0.5rem 0;
          p {
            margin: 0.25rem 0 0;
          }
        }
      }
    }
  }
}

.contract {
  .list {
    margin-right: 0rem;

    // .scroll {
    //   position: relative;
    //   display: block;
    //   width: inherit;
    //   float: right;
    //   right: -2rem;
    //   bottom: 14rem;
    //   padding: 1rem;
    //   border-radius: 10rem;
    // }

    .right {
      right: 2rem;
    }

    .array {
      width: calc(100vw - 16rem);
    }
  }
}
