.fade-enter {
  opacity: 0;
  transform: perspective(600px) translateX(-100px) rotateY(15deg) scale(1);
  z-index: 1;
  transform-origin: top left;
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: perspective(600px) translateX(0px) rotateY(0deg) scale(1)
    translateZ(0px);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-exit {
  display: none;
}
