.TrendingCard {
    background: #ffffff;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.TrendingCardImage {
    height: 60px;
    width: 60px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-right: 10px;
}

.TrendingCardImage img {
    max-height: 100%;
}

.TrendingSongDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
}

.TrendingSongArtistName {
    color: #000000;
    opacity: 0.48;
    font-size: 0.9rem;
}

.TrendingCardButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 10px;
}

.TrendingCardButton {
    padding-left: 50px;
}